#header-desktop {
	position: fixed;
	z-index: 10;
	top: 0px;
	background-color: #FFF;
	width: 100%;
	transition: all 0.25s ease;

	&.scroll{
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);
	}
	
	.wrapper {
		margin-right: auto;
		margin-left: auto;
		@include styleGrid1;
		display: flex;
		align-items: center;
	}

	.container-link {
		display: flex;
		justify-content: space-around;
		width: 480px;
		margin-right: 80px;
		a {
			position: relative;
			padding-top: 30px;
			padding-bottom: 30px;
			display: block;
			@include styleParagraphMedium;
			color: $colorSecondary_1;
			text-decoration: none;
			height: 100%;
			&:before {
				content: " ";
				position: absolute;
				left: 0;
				bottom: 25px;
				width: 100%;
				height: 1px;
				opacity: 0;
				transition: opacity 0.25s ease;
				background-color: $colorSecondary_1;
			}
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	.logo {
		width: 135px;
		height: 40px;
		img {
			width: 100%;
		}
	}

	.container-action {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		.btn {
			&:first-child {
				@include styleButtonLink;
				margin-right: 40px;
				&:before {
					bottom: 8px;
					width: calc(110%);
					opacity: 1;
					transform: translateY(0) translateX(-2.5%);
				}
				&:hover {
					&:before {
						background-color: $colorPrimary_1;
						transform: translateY(0) translateX(-2.5%);		
					}
				}
			}
			&:last-child {
				@include styleButtonMedium;
			}
		}
	}
}