header {
	position: fixed;
	z-index: 10;
	padding-top: 30px;
	padding-bottom: 30px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFF;
	width: 1100px;
	img {
		width: 100%;
	}
}