/*=====================================
=            HEADER DESKTOP           =
=====================================*/
#header-desktop {
	position: fixed;
	z-index: 10;
	top: 0px;
	background-color: #FFF;
	width: 100%;
	transition: all 0.25s ease;
	
	.wrapper {
		margin-right: auto;
		margin-left: auto;
		@include styleGrid1;
		display: flex;
		align-items: center;
	}

	.container-link {
		display: flex;
		justify-content: space-around;
		width: 480px;
		margin-right: 80px;
		a {
			position: relative;
			padding-top: 30px;
			padding-bottom: 30px;
			display: block;
			@include styleParagraphMedium;
			color: $colorSecondary_1;
			text-decoration: none;
			height: 100%;
			&:before {
				content: " ";
				position: absolute;
				left: 0;
				bottom: 25px;
				width: 100%;
				height: 1px;
				opacity: 0;
				transition: opacity 0.25s ease;
				background-color: $colorSecondary_1;
			}
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	.logo {
		width: 135px;
		height: 40px;
		img {
			width: 100%;
		}
	}

	.container-action {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		.btn {
			&:first-child {
				@include styleButtonLink;
				margin-right: 40px;
				&:before {
					bottom: 8px;
					width: calc(110%);
					opacity: 1;
					transform: translateY(0) translateX(-2.5%);
				}
				&:hover {
					&:before {
						background-color: $colorPrimary_1;
						transform: translateY(0) translateX(-2.5%);		
					}
				}
			}
			&:last-child {
				@include styleButtonMedium;
				width: 240px;
				span:nth-child(2) {
					display: none;
				}
			}
		}
	}

	&.scroll{
		box-shadow: 0 4px 20px 0 rgba(0,0,0,0.1);

		.container-action {
			.btn:last-child {

				background-color: $colorPrimary_1;
				.btn-text {
					color: #FFF;
				}
				.btn-arrow {
					stroke: #FFF;
				}

				span:nth-child(1) {
					display: none;
				}
				span:nth-child(2) {
					display: block;
				}
			}
		}
	}
}

/*=========================================
=            END HEADER DESKTOP           =
==========================================*/

/*=====================================
=            HEADER MOBILE            =
======================================*/

#header-mobile {
	display: none;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	.head{
		transition: all 0.25s ease;
		position: relative;
		z-index: 1;
		padding: 20px 0px 20px 0px;
		.wrapper{
			@include styleGrid1;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: baseline;
			.logo{
				text-decoration: none;
				display: block;
				img{
					height: 28px;
				}
			}

			.container-action{
				cursor: pointer;
				display: flex;
				flex-flow: row;
				align-items: center;
				position: relative;

				.btn {
					@include styleButtonLink;
					margin-right: 20px;
					.btn-text {
						color: $colorPrimary_1;
					}
					.btn-arrow {
						margin-left: 10px;
					}
				}

				.container-burger{
					position: relative;
					height: 13px;
					width: 21px;
					.line{
						position: absolute;
						width: 100%;
						height: 3px;
						border-radius: 2px;
						background-color: $colorSecondary_1;
						transition: all 250ms cubic-bezier(0.000, 1.100, 0.735, 0.920);
						&:nth-child(1){
							top: 0px;
							left: 0px;
						}
						&:nth-child(2){
							bottom: 0px;
							left: 0px;
						}
					}
				}
			}
		}	
	}
	.container-link{
		background-color: #FFF;
		position: absolute;
		top: 100%;
		width: 100%;
		transform: translateY(calc(-100% - 100px));
		transition: all 300ms cubic-bezier(0.000, 0.965, 0.805, 0.995);
		padding: 0px 0px 100px 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		height: 100vh;
		.wrapper {
			@include styleGrid1;	
		}
		.link {
			margin-top: 75px;
			display: flex;
			flex-direction: column;
			a {
				display: block;
				text-decoration: none;
				&:not(:last-child) {
					@include styleParagraphHuge;
					margin-bottom: 55px;
				}
				&:last-child {
					position: relative;
					@include styleParagraphHuge;
					color: $colorSecondary_1;
					width: fit-content;
					&:before {
						content: " ";
						position: absolute;
						left: 0;
						bottom: -5px;
						width: 100%;
						height: 2px;
						background-color: $colorSecondary_1;
					}
				}
			}
		}
		.container-btn {
			margin-top: 100px;
			.btn {
				@include styleButtonBig;
				width: 100%;
				span {
					margin: auto;
				}
			}
		}
	}
	&.scroll{
		.head{
			background-color: #FFF;
			box-shadow: 0 3px 22px 0 rgba(56,70,122,0.15);
		}
	}
	&.open{
		.head{
			background-color: #FFF;
			box-shadow: none;
		}
		.head .container-burger .line{
			&:nth-child(1){
				transform: translateY(6px) rotate(45deg);
			}
			&:nth-child(2){
				transform: translateY(-5px) rotate(-45deg);
			}
		}
		.container-link{
			transform: translateY(0px);

		}
	}
}

/*========================================
=            END HEADER MOBILE           =
=========================================*/


@media screen and (max-width: $breakPoint_mobile) {
	#header-desktop {
		display: none;
	}
	#header-mobile {
		display: block;
	}
}