@import 'common.scss';
@import 'header.scss';

/*================================
=            PAGE HOME           =
================================*/

section {
	&:not(#section-list) {
		overflow: hidden;
	}
	h1, h2, p {
		&.wrapLine {
			display: block;
			overflow: hidden;
			>span {
				display: block;
				overflow: hidden;
				span {
					display: block;
					transform: translateY(100px);
					transition: all 1000ms cubic-bezier(0.000, 0.710, 0.335, 1.000);
					transition-delay: 0s;
				}
			}
		}
	}
	&.reach, .reach {
		h1, h2, p {
			&.wrapLine {
				span span {
					transform: translateY(0px);
				}
			}
		}
	}
}

#section-cover {
	padding-top: 150px;
	padding-bottom: 150px;

	.wrapper {
		position: relative;
		@include styleGrid3;
		display: flex;
		flex-direction: column;
		padding-left: 550px;
	}

	.container-illu {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 500px;
		height: 650px;
		.bg {
			position: absolute;
			z-index: 1;
			width: 335px;
			height: 600px;
			top: 0px;
			left: 85px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.obj-1, .obj-2 {
			position: absolute;
			z-index: 0;
			border-radius: 50%;
			width: 350px;
			height: 350px;
		}
		.obj-1 {
			top: 15px;
			right: 20px;
		}
		.obj-2 {
			bottom: 110px;
			left: 25px;
		}
		.video {
			position: absolute;
			z-index: 2;
			top: 23px;
			left: 132px;
			width: 240px;
			height: calc(100% - 115px);
		}
		&:before, &:after {
			content: " ";
			position: absolute;
			z-index: 5;
			left: 128px;
			width: 250px;
			height: 5px;
			background-color: #FFF;
		}
		&:before {
			top: 47px;
		}
		&:after {
			bottom: 117px;
		}
	}
		
	h1 {
		z-index: 1;
		margin-top: 25px;
		width: 450px;
		@include styleH1;
	}
	p {
		z-index: 1;
		width: 420px;
		position: relative;
		padding-left: 25px;
		margin-top: 30px;
		overflow: hidden;
		@include styleParagraphBig;
		&:before {
			content: " ";
			position: absolute;
			width: 2px;
			height: 100%;
			left: 0;
			top: 0;
			background-color: $colorPrimary_2;
			transform: translateY(-100%);
			transition: transform 250ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
		}
		&.bottom {
			&:before {
				transform: translateY(100%);
			}
		}
		&.active {
			&:before {
				transform: translateY(0);
			}
		}
		&.none {
			&:before {
				content: none;
			}
		}
	}
	.btn {
		margin-top: 45px;
		@include styleButtonBig;
	}
	.txt-under-btn {
		padding-left: 5px;
		margin-top: 15px;
		display: flex;
		align-items: center;
		.icn {
			width: 12px;
			height: 15px;
			margin-right: 10px;
			svg {
				width: 100%;
			}
		}
		span {
			@include styleParagraphSmall;
		}
	}
	.sep {
		margin-top: 60px;
		width: 450px;
		height: 1px;
		background-color: #D8D8D8;
	}
	.container-logo {
		width: 450px;
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transform: translateX(-25px);
		.logo {
			width: calc(100% / 3);
			height: 100px;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-75%) scale(1);
				height: 100%;
				transition: all 750ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
				&:not(.active) {
					opacity: 0;
					transform: translateX(-50%) translateY(-75%) scale(.5);
				}
				&.active {
					transition-delay: 250ms;
				}
			}
		}
	}
	.scroll {
		position: absolute;
		left: 50%;
		bottom: -40px;
		transform: translateX(-50%);
		font-family: $font_3;
		font-size: 13px;
		color: $colorPrimary_1;
		.dot {
			position: absolute;
			left: 50%;
			bottom: -12px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $colorPrimary_1;

			animation: slideDot 1.5s linear 1s infinite alternate;

			@keyframes slideDot {
				from {
					transform: translateX(-50%) translateY(0px);
				}
				to {
					transform: translateX(-50%) translateY(10px);
				}
			}
		}
	}
}

#section-list {
	padding-bottom: 130px;
	.wrapper {
		@include styleGrid3;
	}
	.flex {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	.container-text {
		padding-bottom: 10px;
		position: sticky;
		top: 150px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: calc(50% - 150px);
		height: 70vh;
		max-height: 720px;

		h2 {
			@include styleH2;
			em:nth-child(1) {
				color: $colorPrimary_2;
			}
			em:nth-child(2) {
				color: $colorPrimary_1;
			}
		}
		.quote {
			position: relative;
			.icn {
				position: absolute;
				z-index: 0;
				top: -10px;
				left: 0px;

				width: 42px;
				height: 30px;
				
				svg {
					width: 100%;
				}
			}
			.container-el {
				position: relative;
				padding-left: 10px;
				z-index: 1;
				.el {
					@include styleH5;
					opacity: 0;
					transform: translateY(10px);
					transition: all .25s ease;
					&.displayNone {
						display: none;
					}
					&.displayBlock {
						display: block;
					}
					&.show {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
		ul.container-nav {
			padding-left: 30px;
			position: relative;
			&:before, &:after {
				content: " ";
				position: absolute;
				left: 0;
				width: 1px;
			}
			&:before {
				top: 0;
				height: 100%;
				background-color: #D8D8D8;
			}
			&:after {
				height: calc(100% / 3 - 5px);
				background-color: $colorSecondary_1;
				transition: all .25s ease;
			}
			&.li-1 {
				&:after {
					top: 0%;
					transform: translateY(0%);
				}
				li:nth-child(1) span {
					color: $colorSecondary_1;
				}
			}
			&.li-2 {
				&:after {
					top: 50%;
					transform: translateY(-50%);
				}
				li:nth-child(2) span {
					color: $colorSecondary_1;
				}
			}
			&.li-3 { 
				&:after {
					top: 100%;
					transform: translateY(-100%);
				}
				li:nth-child(3) span {
					color: $colorSecondary_1;
				}
			}
			li {
				cursor: pointer;
				position: relative;
				@include styleH5;
				color: #707070;
				list-style: none;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				span {
					transition: all .25s ease;
				}
			}
		}
	}
	.container-cards {
		width: 50%;
		.card {
			position: relative;
			padding: 60px 110px 25px 110px;
			&:nth-child(1), &:nth-child(2) {
				.text {
					h6 {
						color: #FFF;
					}
					p {
						color: #FFF;
						opacity: .7;
					}
				}
				.container-link {
					a.link {
						.link-text {
							color: #FFF;
						}
						.link-arrow {
							stroke: #FFF;
						}
					}
				}
			}
			&:nth-child(1) .color {
				background-color: $colorGradient_2_1;
			}
			&:nth-child(2) .color {
				background-color: $colorPrimary_2;
			}
			&:nth-child(3) {
				.color {
					background-color: #FAFAFA;
				}
				.text {
					h6 {
						color: $colorSecondary_1;
					}
					p {
						color: $colorSecondary_3;
					}
				}
				.container-link {
					a.link {
						.link-text {
							color: $colorSecondary_1;
						}
						.link-arrow {
							stroke: $colorPrimary_1;
						}
					}
				}
			}
			&:not(:last-child) {
				margin-bottom: 55px;
			}
			.color {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;
				height: 100%;
				border-radius: 25px;
			}
			.container-illu {
				position: relative;
				z-index: 1;
				width: 280px;
				.bg {
					display: none;
					img {
						width: 100%;
					}
				}
				.video {
					width: 100%;
					img {
						width: 100%;
					}
				}
			}
			.text {
				position: relative;
				z-index: 1;
				margin-top: 40px;
				h6 {
					margin-top: 15px;
					@include styleH5;
				}
				p {
					margin-top: 3px;
					@include styleParagraphMedium;
				}
			}
			.sep {
				position: absolute;
				z-index: 1;
				bottom: 70px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #D8D8D8;
				opacity: .2;
			}
			.container-link {
				position: relative;
				z-index: 1;
				display: flex;
				justify-content: center;
				margin-top: 25px;
				padding-top: 25px;
				a.link {
					position: relative;
				  	text-decoration: none;
				  	display: flex;
				  	align-items: center;
				  	width: fit-content;
					.link-text{
						font-family: $font_3;
						font-size: $buttonBig_textsize_desktop;
						line-height: $buttonBig_lineheight_desktop;
						transform: translateX(0);
						transition: transform .25s ease;
					}
					.link-arrow {
						margin-left: 10px;
						width: 12px;
						height: 11px;
						transform: translateX(0);
						transition: transform .25s ease;
					}
					&:hover {
						.link-text {
							transform: translateX(-5px);
						}
						.link-arrow {
							transform: translateX(5px);
						}
					}
				}
			}
		}
	}
	.container-action {
		margin-top: 125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		h3 {
			@include styleH3;
		}
		.container-btn {
			margin-top: 30px;
			.btn {
				@include styleButtonBig;
			}
		}
	}
}

#section-photo {
	position: relative;
	width: 100%;
	height: 650px;

	.wrapper {
		position: relative;
		@include styleGrid2;
	}
	.el {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center bottom;

			transform: scale(1.2);
		}
		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,.3);
		}
		svg {
			position: absolute;
			top: -20px;
			left: 0;
			width: 110px;
			height: 80px;
			transform: translateX(-50%);
			opacity: .4;
		}
		a {
			text-decoration: none;
			position: relative;
			display: inline-block;
			z-index: 1;
			@include styleH2;
			width: calc(100% - 425px);
			@include gradient-text('linear-gradient(to bottom, #{$colorGradient_3_1}, #{$colorGradient_3_2})');
		}
		.logo {
			margin-top: 30px;
			height: 35px;
			img {
				height: 100%;
			}
		}

		transition: all 500ms ease;
		transform: scale(1);
		&.active {
			z-index: 5;
			transform: scale(1.1);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
		&.hide {
			transform: translateX(-20%);
			clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
		}
	}
	.container-nav {
		cursor: pointer;
		position: absolute;
		z-index: 10;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 140px;
		height: 140px;
		background-color: #FFF;
		svg {
			width: 38px;
			height: 35px;
			transition: transform 250ms ease;
		}
		&:hover {
			svg {
				transform: scale(1.1);
			}
		}
	}
	&.reach {
		.el .bg {
			transform: scale(1);
		}
	}
}

#section-erwann {
	padding-top: 60px;
	background-color: $colorGradient_4_2;
	.wrapper {
		padding-top: 150px;
		padding-bottom: 120px;
		position: relative;
		@include styleGrid2;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-right: 600px;
	}	
	h2 {
		@include styleH2;
		span {
			display: inline-block;
		}
		>span:first-child {
			margin-right: 10px;
		}
	}
	h4 {
		margin-top: 5px;
		@include styleH4;
		color: $colorPrimary_3;
	}
	p {
		margin-top: 40px;
		@include styleParagraphHuge;
		em {
			color: $colorSecondary_1;
		}
	}
	a {
		margin-top: 40px;
		@include styleButtonLink;
	}
	.container-illu {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 550px;
		height: 810px;
		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

#section-book {
	background-color: $colorGradient_4_2;
	.wrapper {
		padding: 60px 100px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		@include styleGrid2;
		border-radius: 16px;
		background-color: #FFF;
	}
	.container-illu {
		width: 240px;
		height: 270px;
		img {
			width: 100%;
		}
	}
	.container-text {
		width: 510px;
		h6 {
			@include styleH5;
			color: $colorPrimary_3;
		}
		p {
			margin-top: 15px;
			@include styleH3;
		}
		.btn {
			margin-top: 25px;
			@include styleButtonLink;
		}
	}
}

#section-quote {
	padding-top: 90px;
	padding-bottom: 115px;
	background: linear-gradient(to top, #{$colorGradient_4_1}, #{$colorGradient_4_2});

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include styleGrid2;
	}

	.container-quote {
		width: 380px;
		height: 335px;
		.container-el {
			position: relative;
			height: 100%;
			.el {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.info {
					margin: auto;
					padding: 3px 12px;
					@include styleH5;
					border-radius: 3px;
					background: linear-gradient(to right, #{$colorGradient_1_1}, #{$colorGradient_1_2});
					width: fit-content;
					color: #FFF;
				}
				.text {
					position: relative;
					z-index: 0;
					display: inline-block;
					margin-top: 22px;
					width: 100%;
					@include styleH4;
					text-align: center;
					svg {
						position: absolute;
						z-index: -1;
						top: -10px;
						left: 15px;
						width: 42px;
						height: 30px;
					}

					p span {
						@for $i from 0 to 20 {
						    &:nth-child(#{$i}) span {
						    	transition-delay: ($i/10) + 0.1s !important;
						    }
						}
					}
				}
				.pp {
					position: relative;
					margin-top: 14px;
					margin-right: auto;
					margin-left: auto;
					width: 65px;
					height: 65px;
					.bg {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						border-radius: 50%;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
				.name {
					margin-top: 8px;
					@include styleParagraphMedium;
					font-family: $font_3;
					color: $colorSecondary_1;
					text-align: center;
				}
				.use {
					margin-top: 2px;
					@include styleParagraphMedium;
					text-align: center;
				}

				transition: all 600ms ease;
				transform: translateX(100%);
				&.left {
					transform: translateX(-100%);
					opacity: 0;
				}
				&.right {
					transform: translateX(100%);
					opacity: 0;
				}
				&.active {
					transform: translateX(0);
					opacity: 1;
				}
				&.displayNone {
					display: none;
				}
			}
		}
		.container-nav {
			margin-right: auto;
			margin-left: auto;
			display: flex;
			justify-content: center;
			.arrow {
				cursor: pointer;
				width: 36px;
				height: 39px;
				&.left {
					margin-right: 33px;
				}
				&.right {
					transform: rotateY(180deg);
				}
			}
		}
	}

	.container-text {
		width: 510px;
		h2 {
			@include styleH2;
			span {
				@for $i from 0 to 20 {
				    &:nth-child(#{$i}) span {
				    	transition-delay: ($i/10) + 0.6s !important;
				    }
				}
			}
		}
		p {
			margin-top: 15px;
			@include styleParagraphHuge;
		}
		.btn {
			margin-top: 60px;
			@include styleButtonBig;
		}
	}
}

#section-article {
	padding-bottom: 115px;

	.wrapper {
		position: relative;
		padding-top: 90px;
		@include styleGrid1;
	}

	.sep {
		position: absolute;
		top: 0;
		left: 0;	
		width: 100%;
		height: 1px;
		background-color: #D8D8D8;
	}

	.head {
		position: relative;
		text-align: center;
		h2 {
			@include styleH2;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			transform: translateY(-100%);
			@include styleButtonMedium;
			width: initial;
		}
	}

	.container-el {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		.el {
			cursor: pointer;
			width: 375px;
			text-decoration: none;
			.illu {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 280px;
				.bg {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					transition: transform 250ms ease;
				}
			}
			.by {
				margin-top: 16px;
				font-family: $font_2;
				font-size: 13px;
				color: $colorPrimary_1;
			}
			h4 {
				margin-top: 2.5px;
				@include styleH4;
			}
			p {
				margin-top: 17.5px;
				@include styleParagraphMedium;
			}
			.btn {
				margin-top: 31px;
				@include styleButtonLink;
			}
			&:hover {
				.illu .bg {
					transform: scale(1.1);
				}
			}
		}
	}
}

#section-foot {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $colorPrimary_1;

	.wrapper {
		@include styleGrid3;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h2 {
		@include styleH2;
		@include gradient-text('linear-gradient(to right, #{$colorGradient_3_1}, #{$colorGradient_3_2})');
		width: 630px;
	}

	.btn {
		@include styleButtonBig(#FFF, $colorSecondary_1, false);
		width: fit-content;
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) {

	#section-cover .wrapper {
		padding-left: 50%;
	}

	#section-photo {
		.el {
			padding-left: 50px;
			a {
				width: calc(100% - 200px);
			}
		}
	}

	#section-erwann {
		.wrapper {
			padding-right: 600px;
		}
	}

	#section-book {
		padding-left: 25px;
		padding-right: 25px;
	}

	#section-article {
		.head .btn {
			display: none;
		}
		.container-el .el {
			width: calc(100% / 3 - 20px);
		}
		.container-btn {
			display: block;
			.btn {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	#section-foot {
		padding-top: 75px;
		padding-bottom: 75px;
		.wrapper {
			flex-direction: column;
			align-items: flex-start;
		}
		h2 {
			width: 100%;
		}
		.btn {
			margin-top: 50px;
			width: 100%;
		}
	}
}

@media screen and (max-width: $breakPoint_mobile) {

	#section-cover {
		padding-top: 70px;
		padding-bottom: 70px;
		.container-illu {
			order: 7;
			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			width: 300px;
			height: 540px;
			.bg {
				top: 0;
				left: 0;
				width: 100%;
			}
			.video {
				top: 75px;
			    left: 0px;
			    width: 300px;
			    height: calc(100% - 108px);
			}
			.obj-1, .obj-2 {
				width: 245px;
				height: 245px;
			}
			.obj-1 {
				top: 110px;
				right: -15px;
			}
			.obj-2 {
				bottom: 65px;
				left: -15px;
			}
			&:before, &:after {
				left: 40px;
				width: 220px;
			}
			&:before {
				top: 72px;
			}
			&:after {
				bottom: 32px;
			}
		}
		h1 {
			order: 1;
			width: 100%;
			text-align: center;
		}
		.container-btn {
			order: 3;
			text-align: center;
			margin: auto;
			.btn {
				padding-top: 10px;
				padding-bottom: 10px;
				.btn-arrow {
					width: 22px;
					height: 12px;
				}
			}
		}
		.txt-under-btn {
			display: flex;
			justify-content: center;
			order: 4;
		}
		p {
			order: 2;
			margin-top: 25px;
			margin-right: auto;
			margin-left: auto;
			width: fit-content;
		}
		.sep {
			order: 5;
			margin-top: 28px;
			width: 100%;
		}
		.container-logo {
			&:after {
				content: " ";
				position :absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #D8D8D8;
				opacity: 0;
			    transition: all 1500ms cubic-bezier(0.070, 0.965, 0.560, 1.000);
			    transform: translateY(20px);
			    transition-delay: 1.7s;
			}
			position: relative;
			order: 6;
			margin-top: 28px;
			transform: translateX(0);
			width: 100%;
		}
		&.reach .container-logo:after {
			opacity: 1;
	    	transform: translateY(0px);
		}
		.scroll {
			display: none;
		}
	}

	#section-list {
		padding-bottom: 50px;
		.flex {
			flex-direction: column;
			flex-wrap: wrap;
			.container-text {
				position: relative;
				top: 0;
				padding-bottom: 0px;
				width: 100%;
				height: auto;
				h2 {
					width: calc(100% - 20px);
				}
				.quote,
				.container-nav {
					display: none;
				}
			}
			.container-cards {
				margin-top: 25px;
				width: 100%;
				.card {
					padding: 42px 42px 25px 42px;
					&:not(:last-child) {
						margin-bottom: 22px;
					}
					.container-illu {
						width: 100%;
					}
					.text {
						p {
							line-height: 19px;
						}
					}
					.container-link {
						.link {
							.link-arrow {
								width: 16px;
								height: 12px;
							}
						}
					}
				}
			}
		}
		.container-action {
			margin-top: 50px;
			text-align: left;
			.container-btn {
				margin-top: 20px;
				width: 100%;
				.btn {
					width: 100%;
					justify-content: center;
				}
			}
		}
	}

	#section-photo {
		.el {
			.icn {
				top: -30px;
			    left: 45px;
			    height: 60px;
			}
			a {
				padding-left: 3vw;
				width: calc(100% - 6vw);
			}
			&:nth-child(3) .bg {
				background-position: top right;
			}
			.logo {
				padding-left: 3vw;
			}
		}
		.container-nav {
			top: auto;
			transform: translateY(0);
			bottom: 0;
			width: 90px;
			height: 90px;
		}
	}

	#section-erwann {
		padding-top: 50px;
		.wrapper {
			padding-top: 0px;
			padding-bottom: 50px;
		}
		h2 {
			order: 1;
		}
		h4 {
			order: 2;
		}
		p {
			margin-top: 22px;
			&:nth-child(3) {
				order: 3;
			}
			&:nth-child(4) {
				margin-top: 35px;
				order: 6;
			}
		}
		.btn {
			order: 5;
			margin-top: 22px;
			margin-right: auto;
			margin-left: auto;
		}
		.container-illu {
			order: 4;
			margin-top: 25px;
			position: relative;
			right: auto;
			bottom: auto; 
			display: flex;
			justify-content: center;
			width: 100%;
			height: 300px;
			overflow: hidden;
			&:before {
				content: " ";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #D8D8D8;
			}
			.bg {
				left: 50%;
				transform: translateX( calc(-50% + 15px) );
				width: 250px;
				height: calc(100% + 100px);
			}
		}
	}

	#section-book {
		padding-left: 15px;
		padding-right: 15px;
		.wrapper {
			padding: 45px 30px;
			flex-direction: column;
		}
		.container-text {
			margin-top: 45px;
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center; 
			justify-content: center;
		}
	}

	#section-quote {
		padding-top: 70px;
		padding-bottom: 180px;
		.wrapper {
			position: relative;
			flex-direction: column;
		}
		.container-quote {
			margin-top: 25px;
			order: 2;
			width: 100%;
			height: 200px;
			.container-el {
				width: 100%;
				.el {
					left: 50%;
					width: 100%;
					&.left {
						transform: translateX(-200%);
					}
					&.right {
						transform: translateX(200%);
					}
					&.active {
						transform: translateX(-50%);
					}
					.info {
						margin-left: 0;
						transition-delay: .6s !important;
					}
					.text {
						text-align: left;
						p {
							height: 80px;
						}
						svg {
							top: 0;
							left: 0;
						}
						transition-delay: .7s !important;
					}
					.person {
						margin-top: 25px;
						display: flex;
						align-items: center;
						.pp {
							width: 35px;
							height: 35px;
							margin: 0;
							transition-delay: .8s !important;
						}
						.infoP {
							margin-left: 10px;
							.name {
								margin-top: 0;
								text-align: left;
								line-height: 20px;
								transition-delay: .9s !important;
							}
							.use {
								margin-top: 0;
								line-height: 20px;
								font-size: 14px;
								transition-delay: 1s !important;
							}
						}
					}
				}
			}
			.container-nav {
				position: absolute;
				right: 20px;
				bottom: 10px;
				.arrow {
					width: 29px;
					height: 30px;
					&.left {
						margin-right: 20px;
					}
				}
			}
		}
		.container-text {
			order: 1;
			width: 100%;
			text-align: center;
			h2 {
				text-align: left;
				span {
					@for $i from 0 to 20 {
					    &:nth-child(#{$i}) span {
					    	transition-delay: ($i/10) + 0.1s !important;
					    }
					}
				}
			}
			p {
				text-align: left;
			}
			.container-btn {
				position: absolute;
				width: calc(100% - 50px);
				left: 25px;
				bottom: -110px;
				.btn {
					width: 100%;
					span {
						margin: auto;
					}
				}
			}
		}
	}

	#section-article {
		padding-bottom: 55px;
		.wrapper {
			padding-top: 70px;
		}
		.head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;
			h2 {
				text-align: left;
			}
			.btn {
				padding: 15px;
				position: relative;
				top: auto;
				right: auto;
				transform: none;
				width: max-content;
			}
		}
		.container-el {
			margin-top: 40px;
			flex-direction: column;
			.el {
				width: 100%;
				&:not(:last-child) {
					margin-bottom: 65px;
				}
			}
		}
	}	

	#section-foot {
		padding-top: 40px;
		padding-bottom: 40px;
		.wrapper {
			flex-direction: column;
			align-items: flex-start;
		}
		div.elAnim__slide {
			width: 100%;
		}
		h2 {
			width: 100%;
		}
		.btn {
			display: flex;
			justify-content: center;
			margin-top: 25px;
			width: 100%;
		}
	}
}

/*====================================
=            END PAGE HOME           =
=====================================*/

@import 'footer.scss';